---
import BaseLayout from '../layouts/BaseLayout.astro';
import Search from '../components/Search.astro';
---

<BaseLayout title="Search" description="Search all blog posts.">
  <h1 class="page-heading">Search</h1>
  <Search />
</BaseLayout>
